#mainWindow{
	background-image: url("../Misc/bckgrd2a70.png");
}

#scoreLabel{
	font: 16px PressStart2P;
}

#scoreFrame{
	border-radius: 5px;
}

#playButton, #pauseButton, #resetButton{
	border-radius: 5px;
	color: #a40000;
	font: 11px PressStart2P;
}

#scoreTextView{
	background-color: #2e3436; 
}

#lvlLabel{
	font: 18px PressStart2P;
}

